services:
  postgres:
    image: postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5

  airflow-init:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: GgyJ5jUehSy2zQqY958eUWW1ezEgNp4OerBy-AKuD14=
      AIRFLOW__WEBSERVER__SECRET_KEY: mysecretkey
      PYTHONPATH: /opt/airflow
      DATA_DIR: /data
    entrypoint: /bin/bash
    command: 
      - -c
      - |
        set -e
        airflow db init
        airflow users create \
          --username admin \
          --password admin \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com
    volumes:
      - ./data:/data  
      - ./airflow/dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./resources:/opt/airflow/resources

  webserver:
    build: .
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__WEBSERVER__SECRET_KEY: mysecretkey
      AIRFLOW__CORE__FERNET_KEY: GgyJ5jUehSy2zQqY958eUWW1ezEgNp4OerBy-AKuD14=
      PYTHONPATH: /opt/airflow
      DATA_DIR: /data
    volumes:
      - ./data:/data  
      - ./airflow/dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./resources:/opt/airflow/resources
    ports:
      - "8080:8080"

  scheduler:
    env_file:
      - .env.airflow
    build: .
    depends_on:
      airflow-init:
        condition: service_completed_successfully
    command: scheduler
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      AIRFLOW__CORE__FERNET_KEY: GgyJ5jUehSy2zQqY958eUWW1ezEgNp4OerBy-AKuD14=
      PYTHONPATH: /opt/airflow
      DATA_DIR: /data
    volumes:
      - ./data:/data  
      - ./airflow/dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./resources:/opt/airflow/resources